@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>You can now log in.</p>
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Log in</a>
