@page
@model _02Vydry.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Vydra</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vydra.Name" class="control-label"></label>
                <input asp-for="Vydra.Name" class="form-control" />
                <span asp-validation-for="Vydra.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vydra.Color" class="control-label"></label>
                <input asp-for="Vydra.Color" class="form-control" />
                <span asp-validation-for="Vydra.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vydra.MotherId" class="control-label">Mother</label>
                <select asp-for="Vydra.MotherId" class="form-control" asp-items="Model.MotherId"></select>
                <span asp-validation-for="Vydra.MotherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPlace" class="control-label">Place</label>
                <select asp-for="newPlace" class="form-control" asp-items="Model.PlaceName"></select>
                <span asp-validation-for="newPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List of Vydras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
