@page
@model _02Vydry.Pages.DeleteErrorModel
@{
    ViewData["Title"] = "DeleteError";
}

<h1 class="text-center">DeleteError</h1>
<p class="alert alert-danger text-center">You can't delete this item, because other items are dependent on it!</p>

