@page
@model _02Vydry.Pages.FacebookFailedModel
@{
    ViewData["Title"] = "FacebookFailed";
}

<h1 class="text-center">Facebook Login Failed</h1>
<p class="alert alert-danger text-center">Your Facebook login has failed.</p>
<div>
    If you want to try again <a asp-area="Identity" asp-page="/Account/Login">Click here</a>
</div>