@page
@model _02Vydry.Pages.NotFounderModel
@{
    ViewData["Title"] = "NotFounder";
}

<h1 class="text-center">NotFounderError</h1>
<p class="alert alert-danger text-center">Only the founder of this Vydra can delete it!</p>
<div>
    <a asp-page="./Index">Back to List of Vydras</a>
</div>

